@import url(https://fonts.googleapis.com/css?family=Lora);
:root {
    --gold: #EFC69B;
    --burgundy: #AF1B3F;
    --dark: #473144;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, Impact, serif;
}

a:link, a:visited {
    color: var(--burgundy);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header > h1 {
    padding: .6em;
    text-align: center;
    font-size: 2.2em;
}
nav {
    border-top: 2px solid var(--gold);
    border-bottom: 2px solid var(--gold);
    
}
nav ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
     justify-items: end;
    justify-content: end; 
    max-width: 1080px;
    margin: auto;
    list-style-type: none;
    padding: 1em;
    font-size: 1.2em;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
   max-width: 1080px;
    margin: 2em auto;
    grid-gap: 1em;
}
article {
    display: grid;
    grid-template-columns: 240px auto;
    margin-bottom: 2em;
}

.post-details {
    border-right: 1px solid var(--gold);
    margin-right: 1em;
    padding-right: 1em;
    text-align: right;
}
.post-details p {
    margin: .4em 0;
}
.post-details__date {
    font-size: 1.2em;
}
.post-content h2 {
    margin-top: .1em;
}
.post-content figure {
    text-align: center;
}
.filters {
    border: 2px solid var(--gold);
}